<div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
  <div class="carousel-inner bg-dark w-100">
    <div class="carousel-item active">
      <div class="carousel-image" style="background-image: url('../images/unnamed.jpg');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(1).jpg');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(4).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(1).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(2).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(3).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/hair.jpg');"></div>
    </div>
  </div>
</div>