<div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner bg-dark w-100">
    <div class="carousel-item active">
      <div class="carousel-image" style="background-image: url('../images/unnamed.jpg');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed.png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(1).jpg');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(4).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(1).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(2).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/unnamed(3).png');"></div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('../images/hair.jpg');"></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>