<nav class="navbar">
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="#owner">About Us</a>
    <a class="nav-item nav-link" href="#">Services</a>
    <a class="nav-item nav-link" href="#">Products</a>
    <a class="navbar-brand" href="/">
      <img src="images/logo.jpg">
    </a>
    <a class="nav-item nav-link" href="#">Gallery</a>
    <a class="nav-item nav-link" href="#">Hours</a>
    <a class="nav-item nav-link" href="#">Contact</a>
  </div>
</nav>