<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Master Touch Salon</title>

<meta name="description" content="Masters Touch Salon is a Christian owned and operated salon that has established itself as a forerunner for cutting edge style, creating some of the latest trends in the industry.">
<meta property="og:title" content="Master Touch Salon">
<meta property="og:description" content="Masters Touch Salon is a Christian owned and operated salon that has established itself as a forerunner for cutting edge style, creating some of the latest trends in the industry.">
<meta property="og:image" content="/images/waiting-room.jpg">
<meta property="og:site_name" content="Master Touch Salon">