// Variables
$black: #000;
$white: #fff;
$brown: #897663;
$brown-dark: #986042;
$gray: #333;

* {
  box-sizing: border-box;
}

.row {
  overflow: hidden;
}

.row-flex-around {
  display: flex;
  justify-content: space-around;
}

.no-wrap {
  white-space: nowrap;
}

.fab {
  font-size: 30px;
}

.fa-facebook {
  color: #3b5998;
}

.text-black {
  color: $black;
}