.navbar { 
  background-color: $white;
  color: $black;
  justify-content: center;
}

.navbar-nav {
  align-items: center;
  background-color: $white;
  color: $black;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 100%;
}

.nav-item {
  .nav-link {
    color: $black;
    font-family: futura;
    font-weight: normal;

    &:hover {
      color: $gray;
    }
  }
}

.navbar-brand {
  img {
    max-width: 150px;
  }
}

.navbar-toggler {
  right: 0px;
  top: 10px;

  svg {
    height: 20px;
    width: 20px;
  }
}
