.navbar { 
  background-color: $white;
  color: $black;
  justify-content: center;
}

.navbar-nav {
  align-items: center;
  background-color: $white;
  color: $black;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 100%;
}

.nav-item {
  &.nav-link {
    color: $black;

    &:hover {
      color: $gray;
    }
  }
}

.navbar-brand {
  img {
    max-width: 150px;
  }
}

.header-note {
  align-items: center;
  background-color: $brown;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  p {
    margin: 0;
  }
}