---

---

<div class="jumbotron jumbotron-home m-0" style="background-image: url(images/waiting-room.jpg);">
  <%= partial "partials/svg/grey-logo-est" %>
  <a class="button-schedule border-0 font-futura-bold d-sm-none" href="https://www.schedulicity.com/scheduling/mtsuya" target="_blank">Book Your Appointment</a>
  <button class="button-schedule border-0 font-futura-bold d-none d-sm-block" href="#" type="button" data-toggle="modal" data-target="#exampleModal">Book Your Appointment</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-futura-bold" id="exampleModalLabel">Book an Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <script type="text/javascript" src="https://www.schedulicity.com/api/public/widget/MTSUYA/embed"></script>
    </div>
  </div>
</div>

</div>

<div class="container-fluid">

  <div class="row" id="about">
    <div class="col-lg-6 home-img-box sm-contain img-fluid" style="background-image: url(images/staff.jpg)"></div>
    <div class="col-lg-6 home-text-box py-5 px-3">
      <p class="text-uppercase font-futura">About us</p>
      <p>Masters Touch Salon is a Christian owned and operated salon that has established itself as a forerunner for cutting edge style, creating some of the latest trends in the industry. We strive to provide a comfortable atmostphere for your beauty services, offering coffee and water as well as snack options.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6" id="owner">
      <div class="row">
        <div class="col-md-6 home-img-box img-fluid" style="background-image: url(images/owner.jpg)"></div>
        <div class="col-md-6 home-text-box py-5 px-3">
          <p class="text-uppercase font-futura">Owner</p>
          <p>Deya Masters and her family have continuously updated and improved the space and services over the last 14 years to make sure that the salon always offers a best-in-class experience for its customers.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6" id="barber">
      <div class="row">
        <div class="col-md-6 home-img-box d-md-none d-lg-block img-fluid" style="background-image: url(images/barber.jpg)"></div>
        <div class="col-md-6 home-text-box py-5 px-3">
          <p class="text-uppercase font-futura">Barber</p>
          <p>Masters Touch Salon also offers in-house barber services in dedicated barber suite, designed to make the manliest men feel at home despite being in a “salon.”</p>
        </div>
        <div class="col-md-6 home-img-box d-none d-md-block d-lg-none img-fluid" style="background-image: url(images/barber.jpg)"></div>
      </div>
    </div>

  <div class="row w-100 m-0" id="services">
    <div class="col-lg-6 home-img-box d-lg-none img-fluid" style="background-image: url(images/hair.jpg)"></div>
    <div class="col-lg-6 home-text-box py-5 px-3">
      <p class="text-uppercase font-futura">Services</p>
      <p>We offer a wide range of services, including precision haircutting, dimensional and corrective color, foil highlighting, as well as waxing and extensions. We also have a barber shop in the salon for the men that want a traditional barbering experience.</p>
      <button type="button" class="btn btn-sm button-schedule" data-toggle="modal" data-target="#pricingModal">
        Click here for Pricing
      </button>
      <div class="modal fade" id="pricingModal" role="dialog" aria-labelledby="pricingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pricingModalLabel">Pricing</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <iframe height="600" class="w-100" src="./pdf/Menu.pdf" ></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-lg-6 home-img-box d-none d-lg-block img-fluid" style="background-image: url(images/hair.jpg)"></div>
  </div>

  <div class="row w-100 m-0" id="products">
  <div class="col-lg-6 home-img-box img-fluid" style="background-image: url(images/products.jpg)"></div>
    <div class="col-lg-6 home-text-box py-5 px-3">
      <p class="text-uppercase font-futura">Products</p>
      <p>We are a Redken salon, as we believe that Redken is the industry standard.</p>
      <%= partial "partials/svg/redken.svg" %>
    </div>
  </div>

</div>
</div>